*{
  pad: 0;
  margin: 0;
  box-sizing: border-box;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 98.9vw solid #000;
  border-top: 100px solid #fff;
  border-right: 2px solid transparent;
}
.tri-two {
  width: 0;
  height: 0;
  border-left: 98.9vw solid #80808033;
  border-top: 100px solid black;
  border-right: 2px solid transparent;
}
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.546), rgba(0, 0, 0, 0.518)),
    url("./back-tailwind-img.jpeg");
  height: 98vh;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
